<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div align="center">

    <h1>Registration</h1>
    <br/>
    <form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username or password.
            </div>
        </div>
        <table border ="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{username}" /></td>
            </tr>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid username.
                </div>
            </div>
            <tr>
                <td>Password:</td>
                <td><input required type="text" th:field="*{password}" /></td>
            </tr>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid password.
                </div>
            </div>
            <tr>
                <td>Confirm password:</td>
                <td><input type="text" th:field="*{passwordConfirm}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>

